---
---

// Add your styles here 

// Custom bootstrap variables must be set or imported *before* bootstrap.
$body-bg: #1a1e21;
$body-color: #c3c7d1;
$primary: #f67e7d;
$secondary: #282c34;
$hr-height: 2px;
@import "bootstrap";


body {
	width: 60%;
	margin: auto;
	font-family: "Inconsolata";
}

.lead{
	font-weight:400;
	color: #828997;
}

.footer{
	border-style: double !important;
	border-width: 6px !important;
}

#disqus_recommendations{
	width: 0;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

//search box
#results-container {
	overflow: hidden;
	position: fixed;
	top: 100;
	overflow-y: scroll;
	max-height: 90vh;
	width: 60%;
	left: 20%;
	background-color: #d7bcc8;
	color: #1a1e21;
	margin: 0;
	margin-top: 20px;

}

.search-result-block-title{
	border-bottom-color: $secondary !important;
}

.selected {
	background-color: rgba(121, 127, 134, 0.49);
	color: #FFF !important;
}

.search-result-block-container:first-child {
	padding: 12px 20px 6px;
}

.search-result-block-container{
	display: block;
	padding: 6px 20px 6px;
}

.search-result-block-container:last-child {
	padding: 6px 20px 12px;
}

.search-result-block-title{
	font-weight: 700;
	border-bottom: solid 1px #ddd;
}

.search-result-block-content{
	font-size: 80%;
	margin-left: 0px;
	text-align: justify;
	margin: 2px 8px 0;
}

.posts{
	padding: 0;
}

.gallary-image{
  	height: auto;
	width: 400px;
	margin: 20px
}

.youtube {
  
    position: relative;
    width: 100%;
	height: auto;
	max-width: 1024px;
	max-height: 576px;
    padding-top: 56.25%;
}

.embed {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	max-height: 576px;
	max-width: 1024px;
}


@media (max-width: 768px) { 
	.gallary-image{
		width: 47%;
	}

	.embed{
		height: auto;
	}

	.post img {
		width: -moz-available;

		width: -webkit-fill-available;

		margin: 0px
	}

	body {
		width: 80%;
	}
}

@media (max-width: 576px) { 
	.gallary-image{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}