---
layout: default
title: Post-DemonCore
---
<div class="jumbotron jumbotron-fluid p-3 text-center border border-primary mt-5 mb-5">
    <div class="jumbotron jumbotron-fluid p-4">
        <h1 class="display-4" style="opacity: 1;">Post-DemonCore</h1>
        <hr class="my-4 bg-primary opacity-100">
        <p>{{ site.post-DemonCoredesc }}</p>
        <img src="https://img.itch.zone/aW1nLzg1NDI0MjYucG5n/original/Hixstn.png" alt="post-demoncore cover" class="img-fluid">
        
        <p class="pt-2"><iframe src="https://itch.io/embed/1219046?bg_color=000000&amp;fg_color=ffffff&amp;link_color=f79191" width="208" height="167" frameborder="0"><a href="https://theblackcorridor.itch.io/post-demoncore">Post-DemonCore by The Black Corridor</a></iframe></p>

        <h1 style="text-align: center;background-color:Gray;margin:5%;"><strong>About The Game</strong></h1>
        <p style="text-align: center;">The game is a ps1 style survival horror akin to Silent Hill and Resident Evil. The controls are tank controls but in first person. The Setting for the game is sort of a Sci-fi,&nbsp;diesel-punk ww2 (the game is roughly set to the equivalent of 1936). You are a rebel fighter tasked with scouting out a Hjasn military base. Only to find out they have opened a portal to hell. Fight through Eldritch horrors to escape the base<br></p>
        <p style="text-align: center;">Highly recommended to play with a controller.</p>
        <p><br></p>
        <img class="img-fluid"  src="https://img.itch.zone/aW1nLzg1NDE4NjMucG5n/original/4%2BBfUm.png">
        <p style="text-align: center;">This project started out as a mod for doom using the GZDoom engine. A modern source port of the original doom engine. I quickly hit the limitations of an almost 3 decade old engine so decided to make it myself using the open source engine Godot.</p>
        <p><br></p>
        <p style="text-align: center;">The game is currently in Alpha</p>
    </div>
</div>

<article class="container-fluid my-2">

    <h1 class="text-center text-white">Latest Posts about Post-DemonCore</h1>
      
    <ul class="posts">
        {% for post in site.posts %}
            {% if post.categories contains "Post-DemonCore" %}
                {% include postexerpt.html %}
            {% endif %}
        {% endfor %}
    </ul>
</article>
