---
layout: default
title: Games
---
<div class="jumbotron jumbotron-fluid p-3 text-center border border-primary mt-5 mb-5">
    <div class="jumbotron jumbotron-fluid p-4">
        <h1 class="display-4" style="opacity: 1;">Games</h1>
        <hr class="my-4 bg-primary opacity-100">
        <p>I am currently working on a Silent Hill inspired Doom style game with lots of lovecraftien inspiration.</p>
        
        <a href="{{ site.baseurl }}/post-demoncore"><img src="https://img.itch.zone/aW1nLzg1NDIzODgucG5n/315x250%23c/rzUVur.png" alt="Drawing of me" class="img-fluid"></a>
        <p><a class="btn btn-primary btn-lg rounded-0 p-0 text-left" href="{{ site.baseurl }}/post-demoncore" role="button">/post-demoncore</a></p>
        <p class="text-left">Lovecraftian diesel-punk Doom Clone made in Godot</p>
        <p class="text-left">Shooter</p>

        <a href="{{ site.baseurl }}/combined-spaces"><img src="https://img.itch.zone/aW1nLzg1NDI0NzIucG5n/original/31Yzew.png" alt="Drawing of me" class="img-fluid"></a>
        <p><a class="btn btn-primary btn-lg rounded-0 p-0 text-left" href="{{ site.baseurl }}/combined-spaces" role="button">/combined-spaces</a></p>
        <p class="text-left">Game Made for the Godot Wild Jam</p>
        <p class="text-left">Puzzle</p>
    
</div>


