---
layout: default
title: 404
---
<div class="jumbotron jumbotron-fluid p-3 text-center border border-primary mt-5 mb-5">
    <div class="jumbotron jumbotron-fluid p-4">
        <h1 class="display-4">404</h1>
        <hr class="my-4 bg-primary opacity-100">
        <h2 style="text-align: center;">Page Not Found</h2>
        <p style="text-align: center;">The requested page could not be found.</p>
        <hr clas="my-4" style="height:2px;border:none;color:#000;background-color:#000;">
    </div>
</div>
