---
layout: default
title: About
---
<article class="jumbotron jumbotron-fluid p-3 my-0 mt-5 ">

    <h1 class="text-center">About</h1>
    
    <p>My name is Robyn Heib(it/its) and I come from a small town in Greater Manchester.</p>

    <p>I have just completed my Computer Science degree at Manchester Metropolitan University after being interested in programming since taking computing for my GCSE. I achived a 2-1 in my degree. My final year project was on creating an AI that can generate music.</p>				
            
    <p>I am currently working on a sient hill inspired Doom style game with lots of lovecraftien insparation. I am also doing a music project inspired by Sonic Youth and Slint.</p>					
    
    <img src="{{ site.baseurl }}/assets/images/about/drawingOfProfilePic.png" alt="Drawing of me" class="img-fluid m-3">
    <img src="{{ site.baseurl }}/assets/images/about/picOfMe.jpg" alt="Picture of me" class="img-fluid m-3" style="width: 500px;">

    <h2 class="text-center mt-5">My CV</h2>
    <embed src="cv.pdf#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="100%" height="600px" />
     <a class="text-center" href="cv.pdf" download><h3>Download CV</h3></a>

    <h2 class="text-center mt-5">Contact</h2>
    <ul class="text-center">
        <li>Twitter: <a href="https://twitter.com/{{site.twitter_username}}">@robynheib</a></li>

        <li>Instagram: <a href="https://www.instagram.com/robynheib/">@robynheib</a></li>

        <li>YouTube: <a href={{site.youtube_url}}>Robyn Heib</a></li>

        <li>LinkedIn: <a href="https://www.linkedin.com/in/{{site.linkedIn_username}}">@robyn-heib</a></li>

        <li>GitLab: <a href="https://gitlab.com/{{site.github_username}}">@robynheib</a></li>

        <li>Itch: <a href="https://theblackcorridor.itch.io/">@theblackcorridor</a></li>

        <li>Email: <a href="robynheib@gmail.com">robynheib@gmail.com</a></li>
    </ul>
</article>
