---
layout: default
title: Comic
---
<div class="jumbotron jumbotron-fluid p-3 text-center my-0 comicBanner">
    <div class="container" style="opacity: 0.85;">
        <h1 class="display-4" style="opacity: 1;">7 By 7</h1>
        <hr class="my-4" style="height:2px;border:none;color:cyan;background-color:cyan;">
        <p>{{ site.7by7desc }}</p>
        <hr class="my-4" style="height:2px;border:none;color:#333;background-color:#333;">
    </div>
</div>

<div class="jumbotron jumbotron-fluid p-3 text-center my-0">
    <div class="card" style="width: 18rem; background-color: 	darkorange;">
        <img src="{{ site.baseurl }}/assets/images/7by7/issue1/Issue1Cover4.png" class="card-img-top" alt="Issue 1 Cover">
        <div class="card-body">
            <h5 class="card-title">Issue 1 (Leaving Here Part 1 of 6)</h5>
            <a href="{{ site.baseurl }}/comic/7by7/issue1" class="btn btn-primary">Go to issue</a>
        </div>
    </div>
</div>

<article class="container-fluid my-2">

    <h1 class="text-center text-white">Latest Posts about my comic</h1>
      
    <ul class="posts">
        {% for post in site.posts %}
            {% if post.categories contains "comic" %}
                <li style="list-style-type: none;">
                    <div class="post jumbotron jumbotron-fluid p-3">
                        <h1 class="display-4"><a href="{{ site.baseurl }}{{ post.url | remove:'.html' }}">{{ post.title }}</a></h1>
                        <p class="lead">{{ post.date | date_to_string }} - {{ post.author }}</p>
                        <hr class="my-4" style="height:2px;border:none;color:cyan;background-color:cyan;">
                        <p>{{ post.excerpt }}</p>
                        <a class="btn btn-primary btn-lg" href="{{ site.baseurl }}{{ post.url | remove:'.html' }}" role="button">Read More...</a>
                        {% include share.html %}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</article>