---
layout: default
title: Fheohs
---
<div class="jumbotron jumbotron-fluid p-3 text-center border border-primary mt-5">
    <div class="jumbotron jumbotron-fluid p-4">
        <h1 class="display-4">Fheohs</h1>
        <hr class="my-4 bg-primary opacity-100">
        <p>{{ site.fheohsdesc }}</p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid p-3 text-center border border-primary mt-5">
    <div class="jumbotron jumbotron-fluid p-4">
        <h1 class="display-4">The list of races and where they come from:</h1>
        <hr class="my-4 bg-primary opacity-100">
        <p>Regini in Qwed, Uert, Rater (human like)<br>
            Hjasn in Kuhy Dioa, Fios, Eirfre (human like)<br>
            Huad, yedraf, wisfar, Erkan Calarl (cat like)<br>
            Dyfed, Grft, Leofi Jesdu (lizard like)<br>
            Wisfar, Yesraf, Huad, Fois, Kuhy Asond (scorpion Like creature)<br>
            Fopes, Gers Elf (elf)<br>
            Lcuyge,: Ehso Elf (elf)<br>
            Heufh Elf (elf)<br>
            Resda Elf (elf)<br>
            Tesda Dwarf<br>
            Ioja unknown as nobody is aloud there<br>
            <br>
            The current project is Fheohs: Kuhy</p>
    </div>
</div>

<article class="container-fluid my-2">
    
    <h1 class="text-center text-white">Latest Posts about my comic</h1>
          
    <ul class="posts">
        {% for post in site.posts %}
            {% if post.categories contains "fheohs" %}
                {% include postexerpt.html %}
            {% endif %}
        {% endfor %}
    </ul>
</article>