---
layout: default
title: Home
---
<!--Home Banner-->
<div class="jumbotron jumbotron-fluid p-3 text-center border border-primary mt-5">
  <div class="jumbotron jumbotron-fluid p-4">
    <pre style="margin-bottom:0; font-size: .6vw;">████████╗██╗  ██╗███████╗    ██████╗ ██╗      █████╗  ██████╗██╗  ██╗     ██████╗ ██████╗ ██████╗ ██████╗ ██╗██████╗  ██████╗ ██████╗ 
╚══██╔══╝██║  ██║██╔════╝    ██╔══██╗██║     ██╔══██╗██╔════╝██║ ██╔╝    ██╔════╝██╔═══██╗██╔══██╗██╔══██╗██║██╔══██╗██╔═══██╗██╔══██╗
   ██║   ███████║█████╗      ██████╔╝██║     ███████║██║     █████╔╝     ██║     ██║   ██║██████╔╝██████╔╝██║██║  ██║██║   ██║██████╔╝
   ██║   ██╔══██║██╔══╝      ██╔══██╗██║     ██╔══██║██║     ██╔═██╗     ██║     ██║   ██║██╔══██╗██╔══██╗██║██║  ██║██║   ██║██╔══██╗
   ██║   ██║  ██║███████╗    ██████╔╝███████╗██║  ██║╚██████╗██║  ██╗    ╚██████╗╚██████╔╝██║  ██║██║  ██║██║██████╔╝╚██████╔╝██║  ██║
   ╚═╝   ╚═╝  ╚═╝╚══════╝    ╚═════╝ ╚══════╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝     ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═════╝  ╚═════╝ ╚═╝  ╚═╝</pre>
    <hr class="my-4 bg-primary opacity-100">
    <p class="lead">{{ site.mydesc }}</p>
    <a class="btn btn-primary btn-lg rounded-0 p-0" href="{{ site.baseurl }}/about" role="button"><h2>/about</h2></a>
  </div>
</div>


<!--Post-DemonCore Banner-->
<div class="jumbotron jumbotron-fluid p-3 text-center border border-primary mt-5">
  <div class="jumbotron jumbotron-fluid p-4">
    <h1 class="display-4">Post-DemonCore</h1>
    <hr class="my-4 bg-primary opacity-100">
    <p class="lead">{{ site.post-DemonCoredesc }}</p>
    <a class="btn btn-primary btn-lg rounded-0 p-0" href="{{ site.baseurl }}/post-demoncore" role="button"><h2>/post-demoncore</h2></a>
  </div>
</div>

<div class="jumbotron jumbotron-fluid p-3 text-center border border-primary mt-5">
  <div class="jumbotron jumbotron-fluid p-4">
    <h1 class="display-4">Games</h1>
    <hr class="my-4 bg-primary opacity-100">
    <p class="lead">I am currently working on a Silent Hill inspired Doom style game with lots of lovecraftien inspiration.</p>
    <a class="btn btn-primary btn-lg rounded-0 p-0" href="{{ site.baseurl }}/games" role="button"><h2>/games</h2></a>
  </div>
</div>

<!--Music Banner-->
<div class="jumbotron jumbotron-fluid p-3 text-center border border-primary mt-5">
  <div class="jumbotron jumbotron-fluid p-4" style="opacity: 0.85;">
    <h1 class="display-4">Music</h1>
    <hr class="my-4 bg-primary opacity-100">
    <p class="lead">{{ site.musicdesc }}</p>
    <a class="btn btn-primary btn-lg rounded-0 p-0" href="{{ site.baseurl }}/music" role="button"><h2>/music</h2></a>
  </div>
</div>


<div class="jumbotron jumbotron-fluid p-3 text-center my-0">
  <h1>Recent Post</h1>
</div>

<!--posts-->
<div class="row m-auto">

  <!--post 1-->
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 py-3">
    {% for post in site.posts limit:1 %}
      <div class="card post bg-secondary border border-primary rounded-0 ">
        <div class="card-body">
          <h1 class="display-4"><a href="{{ site.baseurl }}{{ post.url | remove:'.html' }}">{{ post.title }}</a></h1>
          <p class="lead">{{ post.date | date_to_string }} - {{ post.author }}</p>
          <hr class="my-4 bg-primary opacity-100">
          {%if post.image %}
            <img src="{{ post.image }}" alt="post img" style="width: 150px; object-fit: cover; height: 150px;" class="float-start img-responsive thumb m-2 img-thumbnail border-primary rounded-0 p-0">
          {%endif %}
          <p>{{ post.excerpt }}</p>{% include share.html %}
          <div style="text-align: right;">
            <a class="btn btn-primary btn-lg rounded-0 p-0" href="{{ site.baseurl }}{{ post.url | remove:'.html' }}" role="button">Read More...</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!--post 2-->
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 py-3">
    {%  for post in site.posts offset: 1 limit: 1  %}
      <div class="card post bg-secondary border border-primary rounded-0 ">
        <div class="card-body">
          <h1 class="display-4"><a href="{{ site.baseurl }}{{ post.url | remove:'.html' }}">{{ post.title }}</a></h1>
          <p class="lead">{{ post.date | date_to_string }} - {{ post.author }}</p>
          <hr class="my-4 bg-primary opacity-100">
          {%if post.image %}
            <img src="{{ post.image }}" alt="post img" style="width: 150px; object-fit: cover; height: 150px;" class="float-start img-responsive thumb m-2 img-thumbnail border-primary rounded-0 p-0">
          {%endif %}
          <p>{{ post.excerpt }}</p>{% include share.html %}
          <div style="text-align: right;">
            <a class="btn btn-primary btn-lg rounded-0 p-0" href="{{ site.baseurl }}{{ post.url | remove:'.html' }}" role="button">Read More...</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!--post 3-->
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 py-3">
    {%  for post in site.posts offset: 2 limit: 1  %}
      <div class="card post bg-secondary border border-primary rounded-0 ">
        <div class="card-body">
          <h1 class="display-4"><a href="{{ site.baseurl }}{{ post.url | remove:'.html' }}">{{ post.title }}</a></h1>
          <p class="lead">{{ post.date | date_to_string }} - {{ post.author }}</p>
          <hr class="my-4 bg-primary opacity-100">
          {%if post.image %}
            <img src="{{ post.image }}" alt="post img" style="width: 150px; object-fit: cover; height: 150px;" class="float-start img-responsive thumb m-2 img-thumbnail border-primary rounded-0 p-0">
          {%endif %}
          <p>{{ post.excerpt }}</p>{% include share.html %}
          <div style="text-align: right;">
            <a class="btn btn-primary btn-lg rounded-0 p-0" href="{{ site.baseurl }}{{ post.url | remove:'.html' }}" role="button">Read More...</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

