---
layout: default
title: Jackbox
---
<article class="container-fluid my-2">
   <div class="jumbotron jumbotron-fluid p-3 text-center my-5">
      <h1 id="jackbox-games">Jackbox Games</h1>
   </div>

   <div class="jumbotron jumbotron-fluid p-3 text-center border">
      <h2 id="-the-jackbox-party-pack-https-www-jackboxgames-com-party-pack-"><a
            href="https://www.jackboxgames.com/party-pack/">The Jackbox Party Pack</a></h2>
      <div class="container" style="overflow-x: auto;">
      <table class="table table-responsive">
         <thead>
            <tr>
               <th scope="col">Game</th>
               <th scope="col">Player Count</th>
               <th scope="col">Image</th>
                <th scope="col" style="min-width: 200px;">Description</th>
               <th scope="col">Video</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>You Don’t Know Jack 2015</td>
               <td>1-4</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/07/YDKJ_box.png" alt="drawing"
                     style="width:300px;" /></td>
               <td>YOU DON’T KNOW JACK 2015 is the first Party Pack edition of your favorite game show, where high
                  culture and pop culture collide! Enjoy the snarky trivia you know and love from the comfort of one of
                  many digital platforms!</td>
               <td><iframe src="https://www.youtube.com/embed/_C4vDSy34qA" style="width:213px; height:120px"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen=""></iframe></td>
            </tr>
            <tr>
               <td>Fibbage XL</td>
               <td>2-8</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/07/Fibbage_box.png" alt="drawing"
                     style="width:300px;" /></td>
               <td>In <em>Fibbage XL</em>, players are presented with an obscure trivia fact that’s missing one key
                  detail. The objective is to fill in the blank so that it fools others into thinking it’s the truth.
                  For example: “The mayor of Rabbit Hash, Kentucky is a <strong>__</strong>.”</td>
               <td><iframe src="https://www.youtube.com/embed/3sXdZPiNTbY" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
            <tr>
               <td>Drawful</td>
               <td>3-8</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/07/Drawful_box.png" alt="drawing"
                     style="width:300px;" /></td>
               <td>Since 2014, partygoers have attempted to draw absurd things like “Napoleon riding a squirrel” and
                  “Smelly CEO.” As a result, a lot of hilariously bad art has been created. We’re proud to say that this
                  is one of our biggest contributions to society.</td>
               <td><iframe src="https://www.youtube.com/embed/ijlYSCjTMeE" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
            <tr>
               <td>Word Spud</td>
               <td>2-8</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/07/Wordspud_box.png" alt="drawing"
                     style="width:300px;" /></td>
               <td>Since 2014, partygoers have attempted to draw absurd things like “Napoleon riding a squirrel” and
                  “Smelly CEO.” As a result, a lot of hilariously bad art has been created. We’re proud to say that this
                  is one of our biggest contributions to society.</td>
               <td><iframe src="https://www.youtube.com/embed/p4iqNI32ICU" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
            <tr>
               <td>Lie Swatter</td>
               <td>1-100</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/07/LieSwatter_box.png" alt="drawing"
                     style="width:300px;" /></td>
               <td>Lie Swatter is the perfect game to play if: You need a good random fact to have in your back pocket
                  for cocktail parties and Thanksgiving; You need a good random fact to have in your back pocket for
                  cocktail parties and Thanksgiving; You want to be better at using your brain under pressure; You
                  aren’t a fan of bugs.</td>
               <td><iframe src="https://www.youtube.com/embed/CSivRV6qFRQ" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
         </tbody>
      </table>
      </div>
   </div>

   <div class="jumbotron jumbotron-fluid p-3 text-center my-5 border">
      <h2 id="-the-jackbox-party-pack-2-https-www-jackboxgames-com-party-pack-two-"><a
            href="https://www.jackboxgames.com/party-pack-two/">The Jackbox Party Pack 2</a></h2>
      <div class="container" style="overflow-x: auto;">
      <table class="table">
         <thead>
            <tr>
               <th scope="col">Game</th>
               <th scope="col">Player Count</th>
               <th scope="col">Image</th>
                <th scope="col" style="min-width: 200px;">Description</th>
               <th scope="col">Video</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>Fibbage 2</td>
               <td>2-8</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/06/FibbageBoxCentered.png"
                     alt="drawing" style="width:300px;" /></td>
               <td>When we went back to the drawing board for The Jackbox Party Pack 2, two things were clear: 1.) We
                  needed new markers and 2.) Fans wanted a sequel to Fibbage. A franchise was born and it weighed a
                  healthy 8 lbs, 2 ozs. Fibbage 2 is the second of 3.5 sequels in this fib-till-you-win trivia game. As
                  in the first Fibbage, players are presented with an obscure trivia fact that’s missing one key detail.
                  The objective is to fill in the blank so that it fools others into thinking it’s the truth.</td>
               <td><iframe src="https://www.youtube.com/embed/bFRWR_Jcoak" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
            <tr>
               <td>Bidiots</td>
               <td>3-6</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/06/BidiotsBoxCentered.png"
                     alt="drawing" style="width:300px;" /></td>
               <td>Going once… Going twice… SOLD to the player who might’ve just made a huge mistake! Bidiots takes the
                  classic Jackbox Games drawing formula and elevates it to a high-class society affair. Put on your
                  monocle as we explore this fine “art” auction game.</td>
               <td><iframe src="https://www.youtube.com/embed/BFr2DGkJPQQ" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
            <tr>
               <td>Bomb Corp</td>
               <td>1-4</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/06/BombCorpBoxCentered.png"
                     alt="drawing" style="width:300px;" /></td>
               <td>Bomb Corp. is like experiencing a casual day at the office. You’re an intern doing intern-y things
                  like getting coffee, stapling papers, and defusing bombs. Yes, you’re keeping bombs from exploding.
                  Did we mention this is an unpaid opportunity?</td>
               <td><iframe src="https://www.youtube.com/embed/b3t-WmgiXaQ" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
            <tr>
               <td>Earwax</td>
               <td>3-8</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/06/EarwaxBoxCentered.png"
                     alt="drawing" style="width:300px;" /></td>
               <td>When you own a huge library of fart sound effects, you are morally obligated to build a game around
                  it, so that’s what we did with Earwax.</td>
               <td><iframe src="https://www.youtube.com/embed/BFr2DGkJPQQ" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
            <tr>
               <td>Quiplash XL</td>
               <td>3-8</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/06/QuiplashBoxCentered.png"
                     alt="drawing" style="width:300px;" /></td>
               <td>Quiplash and Quiplash 2 are hit party favorites that have been featured by popular streamers and have
                  even been played on (Warning: Name-Dropping Ahead)… The Tonight Show with Jimmy Fallon! Quiplash is
                  the gut-busting battle of wits! Just use your phone or tablet to answer fun prompts like these: The
                  worst thing to hear during a massage; A double rainbow doesn’t have gold at the end of it. Instead, it
                  has <strong>__</strong>; A sign they should put up on the Florida state line</td>
               <td><iframe src="https://www.youtube.com/embed/kt_6GB9BH7M" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
         </tbody>
      </table>
      </div>
   </div>

   <div class="jumbotron jumbotron-fluid p-3 text-center my-5 border">
      <h2 id="-the-jackbox-party-pack-3-https-www-jackboxgames-com-party-pack-three-"><a
            href="https://www.jackboxgames.com/party-pack-three/">The Jackbox Party Pack 3</a></h2>
      <div class="container" style="overflow-x: auto;">
      <table class="table">
         <thead>
            <tr>
               <th scope="col">Game</th>
               <th scope="col">Player Count</th>
               <th scope="col">Image</th>
                <th scope="col" style="min-width: 200px;">Description</th>
               <th scope="col">Video</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>Quiplash 2</td>
               <td>3-8</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/06/quip2-1024x699.png" alt="drawing"
                     style="width:300px;" /></td>
               <td>Quiplash 2 picks up where its predecessor left off with new prompts and fun twists on the classic
                  formula. Like in Quiplash, players answer a wide array of fun prompts. For example: New movie idea:
                  Muppets Take <strong>_</strong>; The worst theme for a pinball machine; If you don’t have extra money,
                  an odd thing to use as a tip for your server</td>
               <td><iframe src="https://www.youtube.com/embed/NfmJ-gi1g6s" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
            <tr>
               <td>Trivia Murder Party</td>
               <td>1-8</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/06/TMP.png" alt="drawing"
                     style="width:300px;" /></td>
               <td>Waaaaake Up! It’s time to play Trivia Murder Party, a deadly quiz show where you match wits with a
                  trivia-obsessed killer. Answer trivia questions correctly in each round or you’ll find yourself on The
                  Killing Floor, where players compete in devious minigames that determine whether they survive another
                  round or become a ghost. But relax, ghosts can still win the game. (The host is evil, but he still
                  cares about balanced game design.)</td>
               <td><iframe src="https://www.youtube.com/embed/V_Y0-GtP66Q" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
            <tr>
               <td>Guesspionage</td>
               <td>2-8</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/06/Guesspionage-1-1024x679.png"
                     alt="drawing" style="width:300px;" /></td>
               <td>Guesspionage tests your knowledge of the human condition as you guess how real people responded to
                  basic poll questions like, “What percentage of people have mistaken mannequins for real people?” and
                  “What percentage of adults have played Truth or Dare after turning 30?”</td>
               <td><iframe src="https://www.youtube.com/embed/KzjefIamjio" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
            <tr>
               <td>Tee K.O.</td>
               <td>3-8</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/06/TeeKO.png" alt="drawing"
                     style="width:300px;" /></td>
               <td>Welcome to mysterious T-Shirt Island, where the most hardened warriors in the world join you to
                  compete in an ancient and deadly fighting tournament. Only you won’t be fighting with fists. Instead,
                  you engage each other in a battle of… t-shirts.</td>
               <td><iframe src="https://www.youtube.com/embed/V74IjBNx1yM" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
            <tr>
               <td>Fakin’ It</td>
               <td>3-6</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/06/FakinIt.png" alt="drawing"
                     style="width:300px;" /></td>
               <td>In Fakin’ It, you can FINALLY discover how bad your friends are at lying, without any
                  relationship-ending arguments!</td>
               <td><iframe src="https://www.youtube.com/embed/XZ1dHScPrYY" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
         </tbody>
      </table>
   </div>
   </div>

   <div class="jumbotron jumbotron-fluid p-3 text-center my-5 border">
      <h2 id="-the-jackbox-party-pack-4-https-www-jackboxgames-com-party-pack-four-"><a
            href="https://www.jackboxgames.com/party-pack-four/">The Jackbox Party Pack 4</a></h2>
            <div class="container" style="overflow-x: auto;">
      <table class="table">
         <thead>
            <tr>
               <th scope="col">Game</th>
               <th scope="col">Player Count</th>
               <th scope="col">Image</th>
                <th scope="col" style="min-width: 200px;">Description</th>
               <th scope="col">Video</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>Fibbage 3</td>
               <td>2-8</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/06/Fibbage3.png" alt="drawing"
                     style="width:300px;" /></td>
               <td>It was only a matter of time before we created a loungey 70s version of Fibbage… and that time was
                  2017 in The Jackbox Party Pack 4. The critically-acclaimed series made a triumphant return with
                  Fibbage 3. Not only does Fibbage 3 have more prompts than ever before, but it also allows the audience
                  to play a bigger role in the game by letting them choose their own decoys.</td>
               <td><iframe src="https://www.youtube.com/embed/nsHZBZC5m" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
            <tr>
               <td>Survive the Internet</td>
               <td>3-8</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/06/STI.png" alt="drawing"
                     style="width:300px;" /></td>
               <td>You’re familiar with the “Internet” right? The digital abyss of kittens, trolls, and pictures of that
                  salt-sprinkling guy? Imagine a game that takes place within the Jackbox Games version of the Internet.
                  It’s equally terrifying and rewarding at the same time and we call it Survive the Internet! Play the
                  user-generated comedy game where you twist your friends’ opinions in a myriad of hilarious ways!</td>
               <td><iframe src="https://www.youtube.com/embed/ulbsuTHri0E" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
            <tr>
               <td>Monster Seeking Monster</td>
               <td>3-7</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/06/MSM.png" alt="drawing"
                     style="width:300px;" /></td>
               <td>At the end of the day, we’re all just monsters trying to find love. It’s about getting to know each
                  other and figuring out exactly what kind of monster your partner is in order to determine if you’ll
                  survive the relationship, right? There’s no better party game to live this truth than Monster Seeking
                  Monster.</td>
               <td><iframe src="https://www.youtube.com/embed/1nPCTbFKwM4" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
            <tr>
               <td>Bracketeering</td>
               <td>3-7</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/06/BRK.png" alt="drawing"
                     style="width:300px;" /></td>
               <td>Bracketeering is the game of strong opinions about stupid things. In this game, everyone is that one
                  friend who insists on debating the merits of whether or not Jim and Pam getting together ruined The
                  Office. Everything has stakes and everyone is allowed to weigh in and make a final ruling on the truly
                  absurd.</td>
               <td><iframe src="https://www.youtube.com/embed/Kgyk0DmZyNg" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
            <tr>
               <td>Civic Doodle</td>
               <td>3-8</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/06/CivicDoodle-1.png" alt="drawing"
                     style="width:300px;" /></td>
               <td>In Civic Doodle, the good people of Doodle Valley have enlisted you and your fellow players to
                  beautify the town with ridiculous murals. We are, frankly, shocked at how much they trust you.</td>
               <td><iframe src="https://www.youtube.com/embed/6w72DAOD_tY" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
         </tbody>
      </table>
      </div>
   </div>

   <div class="jumbotron jumbotron-fluid p-3 text-center my-5 border">
      <h2 id="-the-jackbox-party-pack-5-https-www-jackboxgames-com-party-pack-five-"><a
            href="https://www.jackboxgames.com/party-pack-five/">The Jackbox Party Pack 5</a></h2>
      <div class="container" style="overflow-x: auto;">
      <table class="table">
         <thead>
            <tr>
               <th scope="col">Game</th>
               <th scope="col">Player Count</th>
               <th scope="col">Image</th>
                <th scope="col" style="min-width: 200px;">Description</th>
               <th scope="col">Video</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>You Don’t Know Jack: Full Stream</td>
               <td>1-8</td>
               <td><img src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/05/ydkjfs.png" alt="drawing"
                     style="width:300px;" /></td>
               <td>The irreverent trivia classic returns, revamped and better than ever! Your favorite host, Cookie
                  Masterson, returns with all-new twisted trivia questions and the latest in creative insults for you
                  and your fellow players. Fan favorite question types are back, including the DisOrDat, the triumphant
                  return of the Gibberish Question, and the bigger, crazier Jack Attack.</td>
               <td><iframe src="https://www.youtube.com/embed/d95KoqN2Wxg" title="YouTube video player"
                     allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen="" width="1280" height="720" style="width:213px; height:120px"></iframe></td>
            </tr>
         </tbody>
      </table>
   </div>
   </div>
</div>