---
layout: default
title: Other
---
<div class="jumbotron jumbotron-fluid p-3 text-center border border-primary mt-5">
    <div class="jumbotron jumbotron-fluid p-4">
        <h1 class="display-4">Other Projects</h1>
        <hr class="my-4 bg-primary opacity-100">
        <p>{{ site.progdesc }}</p>
    </div>
</div>

<article class="container-fluid my-2">
      
    <ul class="posts">
        {% for post in site.posts %}
            {% if post.categories contains "other" %}
                {% include postexerpt.html %}
            {% endif %}
        {% endfor %}
    </ul>
</article>

<article class="container-fluid my-2">

    <div class="jumbotron jumbotron-fluid p-3 text-center my-5 border" style="background-color:rgb(77, 77, 77) !important;">
        <h2 class="display-5">Vehicles</h2>
        <hr clas="my-2" style="height:2px;border:none; color: gray;">
        <p>Java program with backend connecting to an SQLite database and Jetty web frontend. This project was completed for my second year advanced programming corce part of my degree.</p>
        <a href="https://gitlab.com/robynheib/Vehicles">Gitlab Repo</a>
    </div>

    <div class="jumbotron jumbotron-fluid p-3 text-center my-5 border" style="background-color:rgb(77, 77, 77) !important;">
        <h2 class="display-5"><a href="{{ site.baseurl }}/programming/i3configs/">i3 Configs</a></h2>
        <hr clas="my-2" style="height:2px;border:none; color: gray;">
        <p>My custom i3 and xresource configs. i3 is a window manager for Linux</p>
        <a href="https://gitlab.com/robynheib/i3Configs">Gitlab Repo</a>
    </div>

    <div class="jumbotron jumbotron-fluid p-3 text-center my-5 border" style="background-color:rgb(77, 77, 77) !important;">
        <h2 class="display-5">Assembaly code</h2>
        <hr clas="my-2" style="height:2px;border:none; color: gray;">
        <p>A project i undertook at University using MARS MIPS simulator to understand assembaly code</p>
        <a href="https://gitlab.com/robynheib/Assembaly-code">Gitlab Repo</a>
    </div>

    <div class="jumbotron jumbotron-fluid p-3 text-center my-5 border" style="background-color:rgb(77, 77, 77) !important;">
        <h2 class="display-5">Moving Arrows</h2>
        <hr clas="my-2" style="height:2px;border:none; color: gray;">
        <p>A Java program using Processings library to draw arrows on the screen like an old dvd screen saver</p>
        <a href="https://gitlab.com/robynheib/Moveing-Arrows">Gitlab Repo</a>        
    </div>

    <div class="jumbotron jumbotron-fluid p-3 text-center my-5 border" style="background-color:rgb(77, 77, 77) !important;">
        <h2 class="display-5">Pong</h2>
        <hr clas="my-2" style="height:2px;border:none; color: gray;">
        <p>An implementation of the classic game Pong in Java using Processings library</p>
        <a href="https://gitlab.com/robynheib/Pong">Gitlab Repo</a>
    </div>

    <div class="jumbotron jumbotron-fluid p-3 text-center my-5 border" style="background-color:rgb(77, 77, 77) !important;">
        <h2 class="display-5">2nd year project</h2>
        <hr clas="my-2" style="height:2px;border:none; color: gray;">
        <p>Live project dueing the second year of uni where I was tasked to reaserch Elasic Search tool kibana to display live infomation about a web service</p>
        <a href="https://gitlab.com/robynheib/TheProjects">Gitlab Repo</a>
    </div>

    <div class="jumbotron jumbotron-fluid p-3 text-center my-5 border" style="background-color:rgb(77, 77, 77) !important;">
        <h2 class="display-5">CProgramScheduler</h2>
        <hr clas="my-2" style="height:2px;border:none; color: gray;">
        <p>A program that demonstrates how a program scheduler works using the programmng language C</p>
        <a href="https://gitlab.com/robynheib/CProgramScheduler">Gitlab Repo</a>
    </div>

    <div class="jumbotron jumbotron-fluid p-3 text-center my-5 border" style="background-color:rgb(77, 77, 77) !important;">
        <h2 class="display-5">Defenderz</h2>
        <hr clas="my-2" style="height:2px;border:none; color: gray;">
        <p>An implementation of the game Defenderz in Java using Processings library</p>
        <a href="https://gitlab.com/robynheib/Defenderz">Gitlab Repo</a>
    </div>

    <div class="jumbotron jumbotron-fluid p-3 text-center my-5 border" style="background-color:rgb(77, 77, 77) !important;">
        <h2 class="display-5">midi2csv</h2>
        <hr clas="my-2" style="height:2px;border:none; color: gray;">
        <p>A tool i made for my final year project that reads in midi files and convers them to a CSV file.</p>
        <a href="https://gitlab.com/robynheib/midi2csv">Gitlab Repo</a>
    </div>

    <div class="jumbotron jumbotron-fluid p-3 text-center my-5 border" style="background-color:rgb(77, 77, 77) !important;">
        <h2 class="display-5">Fishing</h2>
        <hr clas="my-2" style="height:2px;border:none; color: gray;">
        <p>This was a project i compleated during my first year of uni. Its a game that functions basicaly as an upside down space invaders.</p>
        <a href="https://gitlab.com/robynheib/Fishing">Gitlab Repo</a>
    </div>
</article>