---
layout: default
title: Photos
---
<article class="jumbotron jumbotron-fluid p-3 text-center my-0">
    <div class="jumbotron jumbotron-fluid p-3 text-center my-0">
        <h1 class="text-center">Photos</h1>
    </div>

	<div class="">
		{% for image in site.static_files %}
			{% if image.path contains '/assets/images/photos' %}
				<a target="_blank" href="{{ site.baseurl }}{{ image.path }}" class="img-fluid">
					<img src="{{ site.baseurl }}{{ image.path | replace:'photos/','photo_thum/' }}" alt="image" class="gallary-image img-fluid"/>
				</a>
			{% endif %}
		{% endfor %}
	</div>
</article>