---
layout: default
title: Post-DemonCore
---
<div class="jumbotron jumbotron-fluid p-3 text-center border border-primary mt-5 mb-5">
    <div class="jumbotron jumbotron-fluid p-4">
        <h1 class="display-4" style="opacity: 1;">Post-DemonCore</h1>
        <hr class="my-4 bg-primary opacity-100">
        <p>{{ site.post-DemonCoredesc }}</p>
        <img src="{{ site.baseurl }}/assets/images/post-demoncore/cover.png" alt="Drawing of me" class="rounded img-fluid">
        
        <h2 class="mt-3">Latest Version: PreAlphaV1</h2>
        <a href="/Post-DemonCore/Binaries/Pre Alpha/PreAlphaV2/Post-DemonCoreDemoPreAlphaV1.x86_64.tar.gz" download class="btn btn-secondary m-2"><i class="fa fa-download"></i> Linux</a>
        <a href="/Post-DemonCore/Binaries/Pre Alpha/PreAlphaV2/Post-DemonCoreDemoPreAlphaV2_win64.zip" download class="btn btn-secondary m-2"><i class="fa fa-download"></i> Windows</a>
        <a href="/Post-DemonCore/Binaries/Pre Alpha/PreAlphaV2/Post-DemonCoreDemoPreAlphaV2_mac.zip" download class="btn btn-secondary m-2"><i class="fa fa-download"></i> Mac</a>
        <br>
        <a href="/Post-DemonCore/Binaries/Pre Alpha/">All versions</a>
    </div>
</div>

<article class="container-fluid my-2">

    <h1 class="text-center text-white">Latest Posts about Post-DemonCore</h1>
      
    <ul class="posts">
        {% for post in site.posts %}
            {% if post.categories contains "Post-DemonCore" %}
                {% include postexerpt.html %}
            {% endif %}
        {% endfor %}
    </ul>
</article>