---
layout: default
title: combined-spaces
---
<div class="jumbotron jumbotron-fluid p-3 text-center border border-primary mt-5 mb-5">
    <div class="jumbotron jumbotron-fluid p-4">
        <h1 class="display-4" style="opacity: 1;">Combined Spaces</h1>
        <hr class="my-4 bg-primary opacity-100">
        <img class="img-fluid"  alt="combined-spaces cover" src="https://img.itch.zone/aW1nLzg1NDI0NzIucG5n/original/31Yzew.png">
        <p>
        </p>
        <h1 style="text-align: center;background-color:Gray;margin:5%;"><strong>About The Game<br></strong></h1>
        <p style="text-align: center;">Combined Spaces is a game made for the Godot Wild Jam.</p>
        <p style="text-align: center;">The theme for this jam was "combined"</p>
        <p style="text-align: center;">The game is about combined spaces. Combining 2 spaces that wouldn't normally fit together.</p>
        <p style="text-align: center;">The game was inspired by the creepy feeling of Source engine games without any players or npcs.<br><br></p>
        <p style="text-align: center;">Spaces:</p>
        <ul style="text-align: center;"><li>Forest Office (map: ForestOffice)</li><li>Stairwell Apartments (map: ForestOffice2)</li><li>Inside Outside Shop (map: Shop)</li></ul>
        <img class="img-fluid"  src="https://img.itch.zone/aW1nLzg1NDI0NjYucG5n/original/1TQxkJ.png">
        <p style="text-align: center;">To keep in the style of source games use can use console commands. Mainly the "map" command that dates back to the Doom engine which is an ancestor of the source engine.<br></p>
        <p style="text-align: center;">Programed on Linux</p>
        <p></p>
        
        <iframe src="https://itch.io/embed/1445684?bg_color=000000&amp;fg_color=ffffff&amp;link_color=f79191" width="208" height="167" frameborder="0"><a href="https://theblackcorridor.itch.io/combined-spaces">Combined Spaces by The Black Corridor</a></iframe>
</div>

<!-- <article class="container-fluid my-2">

    <h1 class="text-center text-white">Latest Posts about Post-DemonCore</h1>
      
    <ul class="posts">
        {% for post in site.posts %}
            {% if post.categories contains "Post-DemonCore" %}
                {% include postexerpt.html %}
            {% endif %}
        {% endfor %}
    </ul>
</article> -->
