---
layout: default
title: I3 Config
---

<div class="jumbotron jumbotron-fluid p-3 text-center my-5 i3Banner">
    <div class="jumbotron jumbotron-fluid bg-dark text-white p-4" style="opacity: 0.85;">
        <h1 class="display-4">I3 Config</h1>
        <hr clas="my-4" style="height:2px;border:none;color:cyan;background-color:cyan;">
        <!-- <h2 style="text-align: center;">Page Not Found</h2> -->
        <p>I3 is a window manager for Linux. The window manager is a bare bones display using tiled windows rather than moveable windows like on dektop managers. 
            This type of display is benafitial for use with text based programs. I3 allows the user to configure almost everything about the display. In my configuration
            I have changed the display colours and how the windows are drawn as well as all the keyboard shortcuts.In my setup I was using Vim for a text editor, ranger for a file manager and CMUS 
            for a music player. Vim is a greate text editor and when its set up properly has the same functionality as IDE's like VS Code. The editor is streamlined
            to only use the keyboard. Ranger is a terminal based file manager which is also designed for keyboard only. CMUS is the same but for a music player.
            The player also has the ability to stream the audio over a local network. 
        </p>
        <a href="https://gitlab.com/RobynHeib/i3Configs/">i3 Configs Gitlab repo</a>
    </div>
</div>