<footer class="footer page-footer mt-auto text-light bg-secondary p-3 border border-primary">
  

  <div class="container">

    <div class="row">

      <div class="col-md-12">

        <div class="text-center">

          <!--Twitter-->

          <a href="https://twitter.com/{{site.twitter_username}}">

            Twitter

          </a>

          <!--Youtube-->

          <a href={{site.youtube_url}}>

            YouTube

          </a>

          <!--Linkedin -->

          <a href="https://www.linkedin.com/in/{{site.linkedIn_username}}">

            LinkedIn

          </a>

          <!--Gitlab-->

          <a href="https://gitlab.com/{{site.github_username}}">

            GitLab

          </a>

          <!--itch-->

          <a href="https://theblackcorridor.itch.io/">

            GitLab

          </a>

        </div>

      </div>

    </div>

  </div>

  <div class="footer-copyright text-center">© 2022 Copyright:

    <a href="https://oliverheib.github.io/"  style="color: white"> robynheib.com</a>

  </div>

</footer>
