<div>
<nav class="navbar navbar-expand-lg navbar-dark">
    
    <pre style="font-size: 3px;margin-bottom:0;">████████╗██╗  ██╗███████╗    ██████╗ ██╗      █████╗  ██████╗██╗  ██╗     ██████╗ ██████╗ ██████╗ ██████╗ ██╗██████╗  ██████╗ ██████╗
╚══██╔══╝██║  ██║██╔════╝    ██╔══██╗██║     ██╔══██╗██╔════╝██║ ██╔╝    ██╔════╝██╔═══██╗██╔══██╗██╔══██╗██║██╔══██╗██╔═══██╗██╔══██╗
   ██║   ███████║█████╗      ██████╔╝██║     ███████║██║     █████╔╝     ██║     ██║   ██║██████╔╝██████╔╝██║██║  ██║██║   ██║██████╔╝
   ██║   ██╔══██║██╔══╝      ██╔══██╗██║     ██╔══██║██║     ██╔═██╗     ██║     ██║   ██║██╔══██╗██╔══██╗██║██║  ██║██║   ██║██╔══██╗
   ██║   ██║  ██║███████╗    ██████╔╝███████╗██║  ██║╚██████╗██║  ██╗    ╚██████╗╚██████╔╝██║  ██║██║  ██║██║██████╔╝╚██████╔╝██║  ██║
   ╚═╝   ╚═╝  ╚═╝╚══════╝    ╚═════╝ ╚══════╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝     ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═════╝  ╚═════╝ ╚═╝  ╚═╝</pre>
                                                                                                                                              
        
        </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for node in site.data.navigation %}
                {% if page.url contains node.link %}
                    <li class="active nav-item"><a href="{{ site.baseurl }}{{node.link}}" class="nav-link">/{{node.name}} <span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}{{node.link}}">/{{node.name}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="form-outline" style="right: 50px; position: absolute;">
            <input type="text" id="search-input" placeholder="search.." class="form-control border-primary bg-secondary" style="border-radius: 0;">
            <div id="results-container"></div>
          </div>
          <button id="search-button" type="button" class="btn btn-primary text-secondary" style="right: 0; position: absolute; border-radius: 0;">
            <span>>></span>
          </button>
        
        <script src="/jekyll-search.min.js" type="text/javascript"></script>
    </div>
</nav>
<hr class="my-0 bg-primary opacity-100" style="margin-bottom:2px !important;">
<hr class="my-0 bg-primary opacity-100">
</div>