<div class="post p-3 mb-5 bg-secondary border border-primary rounded-0 " style="min-height: 330px; box-shadow: 2px 2px #5c6370;">
    <h2 class="display-6"><a href="{{ site.baseurl }}{{ post.url | remove:'.html' }}">{{ post.title }}</a></h2>
    <p class="lead">{{ post.date | date_to_string }} - {{ post.author }}</p>
    {%if post.image %}
        <img src="{{ post.image }}" alt="post img" style="width: 150px; object-fit: cover; height: 150px;" class="float-start img-responsive thumb m-2 img-thumbnail border-primary rounded-0 p-0">
    {%endif %}
    <article class="pt-2"><p>{{ post.excerpt }}</p></article>{% include share.html %}
    <div style="text-align: right;">
      <a class="btn btn-primary btn-lg rounded-0 p-0" href="{{ site.baseurl }}{{ post.url | remove:'.html' }}" role="button">Read More...</a>
    </div>
</div>