<div class="mt-4">
    <div class="align-top mb-1"style="background-color:#7cb7ff; display: inline-block;">
        <a target="_blank" style="color: #1a1e21;" href="https://twitter.com/share?url=https://robynheib.com{{ site.baseurl }}{{ post.url }}&amp;text=Check%20this%20out&amp;hashtags=theblackcorridor">
            <i class="fab fa-twitter fa-lg fa-1x m-0"></i>Tweet
        </a> 
    </div>
    
    <div class="align-top mb-1"style="background-color:#7cb7ff; display: inline-block;">
        <a target="_blank" style="color: #1a1e21;" href="https://www.facebook.com/sharer/sharer.php?u=https://robynheib.com{{ site.baseurl }}{{ post.url }}%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
            <i class="fab fa-facebook fa-lg fa-1x m-0"></i>Share
        </a>
    </div>
</div>