---
layout: default
title: Music
---

<div class="jumbotron jumbotron-fluid p-3 text-center border border-primary mt-5">
    <div class="jumbotron jumbotron-fluid p-4">
        <h1 class="display-4">Music</h1>
        <hr class="my-4 bg-primary opacity-100">
        <p>{{ site.musicdesc }}</p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid p-3 text-center border border-primary mt-5">
    <div class="jumbotron jumbotron-fluid p-4">
        <h2>Recomended Albums</h2>
        <a href="http://evergreenky.bandcamp.com/album/evergreen-reissue">Evergreen - Evergreen   </a><br>
        <a href="https://dreamdecay.bandcamp.com/album/y-4">YÚ - Dreamdecay   </a><br>
        <a href="https://pwelverumandsun.bandcamp.com/album/the-glow-pt-2">The Glow, Pt.2 - The Microphones   </a><br>
        <a href="https://open.spotify.com/album/5aCh5uldkBY1tInUgVhVO0?si=Me7EAT1ESP6yQUVZ-GatFA">Spiderland - Slint   </a><br>
        <a href="http://papam.bandcamp.com/album/the-first-shall-be-last">The first shall be the last - Maurice   </a><br>
        <a href="https://joanofarc.bandcamp.com/album/a-portable-model-of">A Portable Model Of - Joan of Arc </a><br>
        <a href="https://open.spotify.com/album/14LuwckQuyWIvVlKrYuLzP?si=oSg2oEFMTjGAETntV7H6yQ">Schlagenheim - Black Midi   </a><br>
        <a href="https://open.spotify.com/album/7wH3vXQZgy9a6PUvMXLayk?si=cTzhvU2JQfKGBouus5xOjw">Space Ritual - Hawkwind   </a><br>
        <a href="https://open.spotify.com/album/4aOKzYTg9NibQFDnAYo1j0?si=wD0OXJASSxalTqIfKLR-QQ">Today’s Active Lifestyle - Polvo   </a><br>
        <a href="http://aminorforest.bandcamp.com/album/flemish-altruism-constituent-parts-1993-1996-2014-remaster">Flemish Altruism (Constituent Parts 1993​-​1996) - A Minor Forest</a><br>
        <br>
        
        I have a playlist on spotify called <a href="https://open.spotify.com/user/oliver_heib/playlist/4FY9tvcZixLzRt9MaOVZzd?si=PTfg8z3bSP6q7N2atMIJuQ">The Post Post</a> with every different and interesting music I know of.
        <br>My current favorite song is <a href="https://youtu.be/n6vdnUBbHKk">lost slint song? - Slint (unknown whether this is true)</a>
        <br><a href="{{ site.baseurl }}/music/moreSuggestions.html">More Suggestions</a>
    </div>
</div>

<article class="jumbotron jumbotron-fluid p-3 text-center my-0 musicBanner d-xl-flex justify-content-around">
    <iframe style="height: 300px;" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/641936592&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    <iframe style="height: 300px;" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/774992808&color=%230ab9f0&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    <iframe style="height: 300px;" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/596722755&color=%230ab9f0&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    <iframe style="height: 300px;" src="https://bandcamp.com/EmbeddedPlayer/album=2222923127/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://oliverheib.bandcamp.com/album/test">Test by Oliver Heib</a></iframe>
</article>
<article class="jumbotron jumbotron-fluid p-3 text-center my-0 musicBanner d-xl-flex justify-content-around">
    <iframe style="height: 300px;" src="https://bandcamp.com/EmbeddedPlayer/album=2339707682/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://oliverheib.bandcamp.com/album/the-current-project">The Current Project by The Black Corridor</a></iframe>
    <iframe style="height: 300px;" src="https://bandcamp.com/EmbeddedPlayer/track=3852314506/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://oliverheib.bandcamp.com/track/swing-on-the-project-youve-been-working-on-for-2-years-2">Swing on the Project You&#39;ve Been Working on for 2 Years by The Black Corridor</a></iframe>
</article>


<article class="container-fluid my-2">

    <h1 class="text-center text-white">Latest Music Posts</h1>
      
    <ul class="posts">
        {% for post in site.posts %}
            {% if post.categories contains "music" %}
                {% include postexerpt.html %}
            {% endif %}
        {% endfor %}
    </ul>
</article>
