---
layout: default
title: Music Surggestions
---
<article class="jumbotron jumbotron-fluid p-3 my-0 mt-5">
    <div class="jumbotron jumbotron-fluid p-3 text-center my-0">
        <div class="containertext-white p-3">
            <h2>More Music Suggestions</h2>
            <ul class="text-left list-unstyled">
                <li>
                    <a href="https://squirrel-bait.bandcamp.com/"><h3>Squirrel Bait</h3></a>  
                    <p>This is Some of the members of Slint's band as kids. With their self entitled album Squirrel Bait having Britt Walford (Slints's drummer) on the album cover</p>
                    <div class="d-flex">
                        <a href="https://squirrel-bait.bandcamp.com/album/squirrel-bait" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/squirrelBait/squirrelBait.jpg" class="figure-img img-fluid rounded" alt="Sqirrel Bait cover"></img>
                                <figcaption class="figure-caption text-white">Squirrel Bait</figcaption>
                            </figure> 
                        </a>
                        <a href="https://squirrel-bait.bandcamp.com/album/skag-heaven" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/squirrelBait/skagHeaven.jpg" class="figure-img img-fluid rounded" alt="Skag Heaven cover"></img>
                                <figcaption class="figure-caption text-white">Skag Heaven</figcaption>
                            </figure> 
                        </a>
                    </div>
                </li>
                <li>
                    <a href="https://habitualnourishment.bandcamp.com/"><h3>Diät</h3></a>  
                    <div class="d-flex">
                        <a href="https://habitualnourishment.bandcamp.com/album/positive-energy" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/diat/positiveEnergy.jpg" class="figure-img img-fluid rounded" alt="Positive Energy cover"></img>
                                <figcaption class="figure-caption text-white">Positive Energy</figcaption>
                            </figure> 
                        </a>
                    </div>
                </li>
                <li>
                    <a href="https://dreamdecay.bandcamp.com/"><h3>Dreamdecay</h3></a>  
                    <p>I found this band on a US radio station called <a href="https://kexp.org/">KEXP</a>  which has a lot good music on. <a href="https://www.youtube.com/watch?v=ul2RM7Kae5Q">Here is Dreamdescay's video.</a></p>
                    <div class="d-flex">
                        <a href="https://dreamdecay.bandcamp.com/album/y-4" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/dreamdecay/yu.jpg" class="figure-img img-fluid rounded" alt="YU cover"></img>
                                <figcaption class="figure-caption text-white">YÚ</figcaption>
                            </figure> 
                        </a>
                        <a href="https://dreamdecay.bandcamp.com/album/fern" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/dreamdecay/fern.jpg" class="figure-img img-fluid rounded" alt="Fern cover"></img>
                                <figcaption class="figure-caption text-white">Fern</figcaption>
                            </figure> 
                        </a>
                    </div>
                </li>
                <li>
                    <a href="https://metz.bandcamp.com/"><h3>METZ</h3></a>  
                    <p>This is a band recorded by Steve Albini at <a href="https://www.electricalaudio.com/">Electrical Audio</a></p>
                    <div class="d-flex">
                        <a href="https://metz.bandcamp.com/album/metz" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/metz/metz.jpg" class="figure-img img-fluid rounded" alt="Metz cover"></img>
                                <figcaption class="figure-caption text-white">METZ</figcaption>
                            </figure> 
                        </a>
                        <a href="https://metz.bandcamp.com/album/ii" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/metz/ii.jpg" class="figure-img img-fluid rounded" alt="II cover"></img>
                                <figcaption class="figure-caption text-white">II</figcaption>
                            </figure> 
                        </a>
                        <a href="https://metz.bandcamp.com/album/automat" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/metz/automat.jpg" class="figure-img img-fluid rounded" alt="Automat cover"></img>
                                <figcaption class="figure-caption text-white">Automat</figcaption>
                            </figure> 
                        </a>
                    </div>
                </li>
                <li>
                    <a href="https://dirtnaprecords.bandcamp.com/"><h3>Mind Spiders</h3></a>
                    <div class="d-flex">
                        <a href="https://dirtnaprecords.bandcamp.com/album/mind-spiders-s-t" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/mindSpiders/mindSpiders.jpg" class="figure-img img-fluid rounded" alt="Mind Spiders - s​/​t cover"></img>
                                <figcaption class="figure-caption text-white">Mind Spiders - s​/​t</figcaption>
                            </figure> 
                        </a>
                    </div>
                </li>
                <li>
                    <a href="https://bmblackmidi.bandcamp.com/"><h3>Mind Spiders</h3></a>
                    <p>I found this band on a US radio station called <a href="https://kexp.org/">KEXP</a>  which has a lot good music on. <a href="https://www.youtube.com/watch?v=TMn1UuEIVvA">Here is Black Midi's video.</a></p>
                    <div class="d-flex">
                        <a href="https://bmblackmidi.bandcamp.com/album/schlagenheim" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/blackMidi/schlagenheim.jpg" class="figure-img img-fluid rounded" alt="Mind Spiders - s​/​t cover"></img>
                                <figcaption class="figure-caption text-white">Schlagenheim</figcaption>
                            </figure> 
                        </a>
                    </div>
                </li>
                <li>
                    <a href="https://marbledeye.bandcamp.com/"><h3>MARBLED EYE</h3></a>
                    <div class="d-flex">
                        <a href="https://marbledeye.bandcamp.com/album/marbled-eye" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/marbledEye/marbledEye.jpg" class="figure-img img-fluid rounded" alt="MARBLED EYE cover"></img>
                                <figcaption class="figure-caption text-white">MARBLED EYE</figcaption>
                            </figure> 
                        </a>
                        <a href="https://marbledeye.bandcamp.com/album/ep" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/marbledEye/ep.jpg" class="figure-img img-fluid rounded" alt="EP cover"></img>
                                <figcaption class="figure-caption text-white">EP</figcaption>
                            </figure> 
                        </a>
                        <a href="https://marbledeye.bandcamp.com/album/leisure-lp" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/marbledEye/leisure.jpg" class="figure-img img-fluid rounded" alt="Leisure LP cover"></img>
                                <figcaption class="figure-caption text-white">Leisure LP</figcaption>
                            </figure> 
                        </a>
                    </div>
                </li>
                <li>
                    <a href="https://staticshockrecords.bandcamp.com/"><h3>Uranium Club</h3></a>
                    <div class="d-flex">
                        <a href="https://staticshockrecords.bandcamp.com/album/all-of-them-naturals" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/uraniumClub/allOfThemNaturals.jpg" class="figure-img img-fluid rounded" alt="All Of Them Naturals cover"></img>
                                <figcaption class="figure-caption text-white">All Of Them Naturals</figcaption>
                            </figure> 
                        </a>
                    </div>
                </li>
                <li>
                    <a href="http://www.touchandgorecords.com/bands/band.php?id=77"><h3>The For Carnation</h3></a>
                    <div class="d-flex">
                        <a href="http://www.touchandgorecords.com/bands/album.php?id=306" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/theForCarnation/theForCarnation.jpg" class="figure-img img-fluid rounded" alt="The For Carnation cover"></img>
                                <figcaption class="figure-caption text-white">The For Carnation</figcaption>
                            </figure> 
                        </a>
                        <a href="http://www.touchandgorecords.com/bands/album.php?id=421" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/theForCarnation/promisedWorks.jpg" class="figure-img img-fluid rounded" alt="Promised Works cover"></img>
                                <figcaption class="figure-caption text-white">Promised Works</figcaption>
                            </figure> 
                        </a>
                    </div>
                </li>
                <li>
                    <a href="https://lightningbolt.bandcamp.com/"><h3>Lightning Bolt</h3></a>
                    <div class="d-flex">
                        <a href="https://lightningbolt.bandcamp.com/album/wonderful-rainbow" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/lightningBolt/wonderfulRainbow.jpg" class="figure-img img-fluid rounded" alt="Wonderful Rainbow cover"></img>
                                <figcaption class="figure-caption text-white">Wonderful Rainbow</figcaption>
                            </figure> 
                        </a>
                        <a href="https://lightningbolt.bandcamp.com/album/fantasy-empire" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/lightningBolt/fantasyEmpire.jpg" class="figure-img img-fluid rounded" alt="Fantasy Empire cover"></img>
                                <figcaption class="figure-caption text-white">Fantasy Empire</figcaption>
                            </figure> 
                        </a>
                    </div>
                </li>
                <li>
                    <a href="https://gaybeast.bandcamp.com/"><h3>Gay Beast</h3></a>
                    <div class="d-flex">
                        <a href="https://gaybeast.bandcamp.com/album/disrobics" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/gayBeast/disrobics.jpg" class="figure-img img-fluid rounded" alt="Disrobics cover"></img>
                                <figcaption class="figure-caption text-white">Disrobics</figcaption>
                            </figure> 
                        </a>
                    </div>
                </li>
                <li>
                    <a href="https://skingraftrecords.bandcamp.com/"><h3>Yowie</h3></a>
                    <div class="d-flex">
                        <a href="https://skingraftrecords.bandcamp.com/album/synchromysticism" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/yowie/synchromysticism.jpg" class="figure-img img-fluid rounded" alt="Synchromysticism cover"></img>
                                <figcaption class="figure-caption text-white">Synchromysticism</figcaption>
                            </figure> 
                        </a>
                    </div>
                </li>
                <li>
                    <a href="https://ghostkingghost.bandcamp.com/"><h3>Ghost King</h3></a>
                    <div class="d-flex">
                        <a href="https://ghostkingghost.bandcamp.com/album/dunbar-swamp" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/ghostKing/dunbarSwamp.jpg" class="figure-img img-fluid rounded" alt="Dunbar Swamp cover"></img>
                                <figcaption class="figure-caption text-white">Dunbar Swamp</figcaption>
                            </figure> 
                        </a>
                    </div>
                </li>
                <li>
                    <a href="https://open.spotify.com/artist/6Xktu0x9IXB4ghFSPw6Jqv"><h3>百景 (Hyakkei)</h3></a>
                    <div class="d-flex">
                        <a href="https://open.spotify.com/album/1dZAnHNVTt5ehQflrQJ0Yc" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/hyakkei/thingsThatConnectTofu.jpg" class="figure-img img-fluid rounded" alt="とおくを つなぐもの cover"></img>
                                <figcaption class="figure-caption text-white">とおくを つなぐもの (Toku Wo Tsunagu Mono)</figcaption>
                            </figure> 
                        </a>
                    </div>
                </li>
                <li>
                    <a href="https://toe-music.bandcamp.com/"><h3>toe</h3></a>
                    <div class="d-flex">
                        <a href="https://toe-music.bandcamp.com/album/the-book-about-my-idle-plot-on-a-vague-anxiety" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/toe/theBookAboutMyIdlePlotOnAVagueAnxiety.jpg" class="figure-img img-fluid rounded" alt="the book about my idle plot on a vague anxiety cover"></img>
                                <figcaption class="figure-caption text-white">the book about my idle plot on a vague anxiety</figcaption>
                            </figure> 
                        </a>
                    </div>
                </li>
                <li>
                    <a href="https://lithics.bandcamp.com/"><h3>Lithics</h3></a>
                    <div class="d-flex">
                        <a href="https://lithics.bandcamp.com/album/mating-surfaces" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/lithics/matingSurfaces.jpg" class="figure-img img-fluid rounded" alt="Mating Surfaces cover"></img>
                                <figcaption class="figure-caption text-white">Mating Surfaces</figcaption>
                            </figure> 
                        </a>
                    </div>
                </li>
                <li>
                    <a href="https://dusternumero.bandcamp.com/"><h3>Duster</h3></a>
                    <div class="d-flex">
                        <a href="https://dusternumero.bandcamp.com/album/contemporary-movement" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/duster/contemporaryMovement.jpg" class="figure-img img-fluid rounded" alt="Contemporary Movement cover"></img>
                                <figcaption class="figure-caption text-white">Contemporary Movement</figcaption>
                            </figure> 
                        </a>
                        <a href="https://dusternumero.bandcamp.com/album/stratosphere" class="p-1">
                            <figure>
                                <img src="{{ site.baseurl }}/music/duster/stratosphere.jpg" class="figure-img img-fluid rounded" alt="Stratosphere cover"></img>
                                <figcaption class="figure-caption text-white">Stratosphere</figcaption>
                            </figure> 
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</article>