---
layout: default
title: Blog
---

<!-- This loops through the paginated posts -->
<div class="mt-5 "></div>
<h1 class="text-center">Latest Posts</h1>
{% for post in paginator.posts %}  
  {% include postexerpt.html %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination border border-primary rounded-0 m-2" style="width:fit-content;">
  {% if paginator.previous_page %}
    <!-- <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a> -->
    <a class="previous btn btn-primary btn-lg rounded-0 p-0" href="{{ paginator.previous_page_path }}" role="button">Previous</a>
  {% else %}
    <!-- <span class="previous">Previous</span> -->
    <a class="previous btn btn-secondary btn-lg rounded-0 p-0" disabled role="button">Previous</a>
  {% endif %}
  <span class="page_number m-1">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <!-- <a href="{{ paginator.next_page_path }}" class="next">Next</a> -->
    <a class="previous btn btn-primary btn-lg rounded-0 p-0" href="{{ paginator.next_page_path }}" role="button">Next</a>
  {% else %}
    <!-- <span class="next ">Next</span> -->
    <a class="next btn btn-secondary btn-lg rounded-0 p-0" disabled role="button">next</a>
  {% endif %}
</div>