---
layout: default
title: Gallery
permalink: /comic/7by7/gallery
---
<article>
	<h1>7 by 7 Gallery</h1>
	<br>

	<div class="container">
		<div class="grid">
			{% for image in site.static_files %}
    			{% if image.path contains '/assets/images/comic' %}
        		<div class="cell">
           			<img src="/TheBlackCorridor{{ image.path }}" alt="image" class="responsive-image"/>
        		</div>
    			{% endif %}
			{% endfor %}
		</div>
	</div>
</article>
