---
layout: default
title: Issue 1
permalink: /comic/7by7/issue1
---
<article>
	
	<h1>Issue 1</h1>
	<br>
	

	<p>Issue 1 is the first part of volume Leaving Here where Coda gets annoyed at his father and eventually leaves home.</p>
	<p>The rest will be released some time ealy next year.</p>
	<br>
	<br>
	
	<img src="/TheBlackCorridor/assets/images/comic/issue1/Issue1Cover4.png" alt="Cover" style="width:300px; height: auto; border-radius: 5%; float: none;">
	<br>
	<img src="/TheBlackCorridor/assets/images/comic/issue1/Issue1Page1.png" alt="Page 1" style="width:300px; height: auto; border-radius: 5%; float: none;">
</article>
