<!doctype html>
<html>
  	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:site_name" content="robynheib.com website">
		<meta property="og:title" content="{{ page.title | escape }}">
		{% if page.summary %}
			<meta name="description" content="{{ page.summary | escape }}">
			<meta property="og:description" content="{{ page.summary | escape }}">
		{% endif %}
		{% if page.excerpt %}
			<meta name="description" content="{{ page.excerpt | escape }}">
			<meta property="og:description" content="{{ page.excerpt | escape }}">
			<meta property="og:type" content="article">	
		{% endif %}
		{%if page.tags %}
			<meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
		{%endif %}
		{%if page.url %}
			<meta property="og:url" content="https://robynheib.com{{ page.url | escape }}">
		{%endif %}
		{%if page.image %}
			<meta property="og:image" content="https://robynheib.com{{ page.image | escape }}">
		{%endif %}
		{%if page.video %}
			<meta property="og:video" content="{{ page.video | escape }}">
		{%endif %}

    	<title>{{ page.title }}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/favicon.png">
		
		<!--my styles-->
		<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">

		<!-- fontawesome -->
		<script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>

		<!--javascript files-->
    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

	  
  	</head>
  	<body>
		<!-- <div id="fb-root"></div>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script> -->
        {% include navigation.html %}
    	<section>
			{% include breadcrumbs.html %}
    		{{ content }}
        	{% include footer.html %}
    	</section>
  	</body>
</html>
