---
layout: default
---
<article>
		<div class="post jumbotron jumbotron-fluid p-3 my-0 m-3">
        
  			<h1 class="display-4 text-center">{{ page.title }}</h1>
			<p class="lead text-center">{{ page.date | date_to_string }} - {{ page.author }}</p>
			<hr class="my-4 bg-primary opacity-100">
			<p class="text-left">
  				{{ content }}		
			</p>
			<p>
				{% for tag in page.tags %}
				<a href="/tag/{{tag}}">#{{tag}}</a>{% unless forloop.last %}, {% endunless %}
				{% endfor %}
			</p>
			{% include share.html %}
			<!-- <div class="pt-3">
				<h4>Share</h4>

				<div class="align-top mb-1"style="color: white; background-color:#1da1f2; border-radius: 5px; font-size: 11px; display: inline-block; padding: 2px 10px;">
				<a target="_blank" style="color: white; " href="https://twitter.com/share?url=https://robynheib.com{{ site.baseurl }}{{ page.url }}&amp;text=Check%20this%20out&amp;hashtags=theblackcorridor">
					<i class="fab fa-twitter fa-lg white-text fa-1x m-0"></i> Tweet
				</a> </div>
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-url="https://oliverheib.github.io{{ site.baseurl }}{{ post.url }}" data-show-count="false">Tweet</a> 
				
				<div class="fb-share-button test" data-href="robynheib.com{{ site.baseurl }}{{ page.url }}" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                <style media="screen" type="text/css">
                  .fb_iframe_widget span 
                  {
                      vertical-align: baseline !important;
                  }
                </style> -->
			<!-- </div>
			<div id="disqus_thread"></div>

			<script>	

				/**
				*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
				/*
				var disqus_config = function () {
				this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				};
				*/
				(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = 'https://https-oliverheib-github-io.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          
		</div> End of container div -->
	</div>
</article>
