---
layout: default
---

<div>
    <h1 class="text-center text-white">Articles tagged with "{{page.tag}}"</h1>
    <ul class="posts">
    
    {% for post in site.posts %}
        {% if post.tags contains page.tag %}
            {% include postexerpt.html %}
        {% endif %}
    {% endfor %}
    
    </ul>
</div>